/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

  border-style: none;
  /*border-color: rgba(255, 0, 0, 0.5);*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-family:Arial, Helvetica, sans-serif;
}

i {
  font-style: italic;
}
body {
  line-height: 1;
  width: 100vw;
  height: 100vh;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My CSS starts here */

@font-face {
  font-family: 'norse';
  src: url("./Norse-Bold.otf");
  src: url("./Norse-Bold.otf") format("opentype");
  src: url("./Norse-Bold.otf") format("truetype");
}

body {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
}

a {
  color: inherit;
  font-family: inherit;
}

.flex-h {
  display: flex;
  flex-direction: row;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  gap: 30px; 
}

#left-body {
  color: white;
  min-width: 35%;
  min-height: 100%;
  background-image: url(./background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color:rgba(0, 0, 0, 0.5);
  font-size: 80px;
  font-family: "norse", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#logo-container > img {
  height: 100px;
}

#footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px;
}

#right-body>p:last-child>a {
  text-decoration: none;
  color:#596D48;
  font-weight: bold;
}

#right-body>p:first-child {
  padding-bottom: 40px;
}

#right-body>p {
  margin: 0px 40px;
}

#right-body>form>button[type="submit"] {
  margin: 30px 40px 0px;
  background-color: #596D48;
  color: white;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size:large;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 3px 3px lightgray;
}

#right-body>form>button[type="submit"]:active {
  transform: translateY(3px);
  box-shadow: 0px 0px 0px lightgray;
}

#signup-box {
  background-color: white;
  box-shadow: 0px 3px 3px lightgray;
  padding: 20px 40px;
  gap: 20px;
  font-size: small;
}

input {
  border: 1px solid lightgray;
  border-radius: 4px;
  margin: 2px 0px;
  height: 25px;
  width: 250px;
}

input:focus,
input:focus-visible {
  border: 1px solid blue;
  outline: none;
  box-shadow: 0px 3px 3px lightgray;
}

input:invalid {
  border: 1px solid red;
}

#confirm-password-container {
  position: relative;
}

#confirm_user_password + p {
  color: red;
  font-size: smaller;
  position: absolute;
  top: 50px;
}

#confirm_user_password + p {
  color: red;
  font-size: smaller;
}

#signup-box>div {
  gap: 60px;
}

#signup-box>p {
  font-weight: bold;
  font-size: x-large;
}

#entry-paragraph {
  font-size: x-large;
  font-weight: bold;
}